---
import ItemFuncion from "./ItemFun.astro";


---


<div>
<h1>
    
</h1>    
    <ItemFuncion title="" icon=""/>
    <ItemFuncion title="" icon=""/>
    <ItemFuncion title="" icon=""/>
    <ItemFuncion title="" icon=""/>
    <ItemFuncion title="" icon=""/>
    <ItemFuncion title="" icon=""/>
</div>