---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Error 404">
    <div class="flex-1 mx-auto mt-20 gap-4 w-[100%] h-full text-center">
        <h1 class="text-2xl my-4 font-bold dark:text-white">Error no encontro la pagina</h1>
        <img class="mx-auto" src="https://78.media.tumblr.com/42dba110fe49373a4db0782d99d72698/tumblr_pel78o9mCL1v5s7ico1_500.gif" alt="error 404">
    </div>
</Layout>