---

import Nav from "./Nav.astro"


---


<div class="flex flex-col justify-around max-w-4xl m-auto md:flex-row gap-x-4">
  <img class="md:mr-auto" src="https://pascal-labs.com/images/Logo/02.png"/>

  <Nav title="Nav"/>
</div>
<!-- <HeaderButton title="hola" /> -->
  