---
interface Props {
  title?: string;
}
import NavButton from "./NavButton.astro"


const {title}= Astro.props
---


<div class="flex flex-col justify-around max-w-4xl m-auto md:flex-row gap-x-4">    
    <NavButton title="Home" href="/"/>
    <NavButton title="About" href="/about"/>
    <NavButton title="Beneficios" href="/beneficios"/>
    <NavButton title="Funciones" href="/about"/>
    <NavButton title="Portafolio" href="/Projet"/>
    <NavButton title="Planes" href="/Projet"/>
    <NavButton title="Clientes" href="/Projet"/>
</div>



