---



const {title, label}= Astro.props
---
 

<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
    <img class="w-24 h-24 md:w-48   md:rounded-none rounded-full mx-auto" src="https://tailwindcss.com/_next/static/media/sarah-dayan.de9b3815.jpg" alt="" width="384" height="512">
    <div class="pt-6 md:p-5 text-center md:text-left space-y-2">
        <figcaption class="font-medium">
            <div class="text-sky-800 text-2xl dark:text-sky-300">
             {title}
            </div>             
          </figcaption>
        <blockquote>
        <p class="text-lg font-semibold">
        {label}
        </p>
      </blockquote>
      
    </div>
  </figure>